<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f3bfd28d-d5c5-45be-94fa-41eb862698fd/resourcegroups/Backend20241215002025ResourceGroup/providers/Microsoft.Web/sites/VDBackend20241215002025</ResourceId>
    <ResourceGroup>Backend20241215002025ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/f3bfd28d-d5c5-45be-94fa-41eb862698fd/resourceGroups/Backend20241215002025ResourceGroup/providers/Microsoft.ApiManagement/service/VDBackendapi/apis/Backend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vdbackend20241215002025.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>9d265301-fd97-4674-b2ba-4cf7eb46910a</ProjectGuid>
    <MSDeployServiceURL>vdbackend20241215002025.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>VDBackend20241215002025</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>